<style>

        h1 {
            width: 65px;
            color: orange;
            font-family: sans-serif;
        }

        li {
            background-color: orange;

        }

        .diferentes2 {

            background-color: rebeccapurple;

        }

        p {

            font-weight: 600;
            font-size: 3em;
            font-style: italic;
            line-height: 40px;
            text-align: center;
            text-decoration: underline;
            color: aliceblue;

        }

        body {

            font-size: 16px;

        }

        #vermelho {
            background-color: red;
        }
        #amarelo {
            background-color: yellow;
        }
        #marrom {
            background-color: maroon;
        }


    </style>